body {
    background-color: rgb(200, 200, 200);
}

.button {
    display: inline-block;
    width: 200px;
    height: 20px;
    border: 1px solid black;
    background-color: white;

    cursor: pointer;

    text-align: center;
}